{% extends "layouts/base.twig" %}

<!-- Page settings -->
{% block title %}Home{% endblock %}
{% block description %}Description about home{% endblock %}
{% block bodyClass %}home{% endblock %}
{% block logo %}<img src="images/amey-consulting-logo.png" alt="Amey consulting logo" />{% endblock %}

<!-- Main page content -->
{% block body %}
<h1>Hello, and welcome...</h1>
{% endblock %}