{% extends "html.twig" %}

{% block body %}

{% include '../partials/_Header.twig' %}

<div class="container">
  <div class="row">
     <div class="col-sm">
    {% block sections %}
    {% endblock %}
    </div> 
  </div>

  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

{% include '../partials/_Footer.twig' %}

{% endblock %}

